AddHandler fastq-handler .fastq.gz
AddHandler fastq-handler .fastq
AddHandler fastq-handler .fq.gz
AddHandler fastq-handler .fq
AddHandler bam-handler .bam
AddHandler tabix-handler .vcf
AddHandler faidx-handler .fa
AddHandler faidx-handler .fasta



<IfModule mod_autoindex.c>
IndexOptions +HTMLTable
IndexOptions +SuppressRules
IndexOptions +SuppressHTMLPreamble


# SPECIFY HEADER FILE
ReadmeName footer.html

# IGNORE THESE FILES
IndexIgnore header.html footer.html .htaccess

</IfModule> 


AddIcon /icons/compressed.gif .bam
AddIcon /icons/compressed.gif .fastq
AddIcon /icons/compressed.gif x.example

#
# Adding Descriptions to Folders and Files
#
AddDescription "Binary Sequence Alignment Map <a href='http://samtools.github.io/hts-specs/SAMv1.pdf' target='_blank'>(BAM)</a>" .bam
AddDescription "Sequence Alignment Map <a href='http://samtools.github.io/hts-specs/SAMv1.pdf' target='_blank'>(SAM)</a>" .bam
AddDescription "<a href='http://en.wikipedia.org/wiki/FASTQ_format' target='_blank'>FastQ</a>" .fastq
