AddHandler fastq-handler .fastq.gz
AddHandler fastq-handler .fastq
AddHandler fastq-handler .fq.gz
AddHandler fastq-handler .fq
AddHandler bam-handler .bam
AddHandler tabix-handler .vcf
AddHandler faidx-handler .fa
AddHandler faidx-handler .fasta



<IfModule mod_autoindex.c>
IndexOptions +HTMLTable
IndexOptions +SuppressRules
IndexOptions +SuppressHTMLPreamble


# SPECIFY HEADER FILE
ReadmeName footer.html

# IGNORE THESE FILES
IndexIgnore header.html footer.html .htaccess

</IfModule> 


AddIcon /icons/compressed.gif .bam



#
# Adding Descriptions to Folders and Files
#
AddDescription "Binary Sequence Alignment Map <a href='http://samtools.github.io/hts-specs/SAMv1.pdf' target='_blank'>(BAM)</a>" .bam
AddDescription "BAM Index</a>" .bai
AddDescription "Sequence Alignment Map <a href='http://samtools.github.io/hts-specs/SAMv1.pdf' target='_blank'>(SAM)</a>" .sam
AddDescription "<a href='http://en.wikipedia.org/wiki/FASTQ_format' target='_blank'>FastQ</a>" .fastq
AddDescription "<a href='http://en.wikipedia.org/wiki/FASTQ_format' target='_blank'>FastQ</a>" .fq
AddDescription "<a href='http://genome.ucsc.edu/FAQ/FAQformat.html#format1' target='_blank'>BED</a> file" .bed
AddDescription "<a href='http://samtools.github.io/hts-specs/' target='_blank'>VCF (Variant Call Format)</a> file" .vcf
AddDescription "Tabix index file" .tbi
AddDescription "samtools faidx index file" .fai
AddDescription "Fasta Sequence File" .fa
AddDescription "Fasta Sequence File" .fasta
